<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee Form</title>
</head>
<body>
<form th:action="@{/saveUser}" th:object="${user}" method="post">

    <input type="hidden" th:field="*{id}" />

    Name: <input type="text" th:field="*{name}" />
    <br><br>
    Age: <input type="text" th:field="*{age}" th:value="${user.age == null ? '' : user.age}"/>
    <br><br>
    Email: <input type="text" th:field="*{email}" />
    <br><br><br>
    <input type="submit" value="Confirm">
</form>
</body>
</html>
